backend/.vs/Internshala/FileContentIndex/5eee331b-bea1-4c8e-8b51-3bcc11912d54.vsidx
backend/.vs/Internshala/FileContentIndex/8bb91889-de6b-4f39-9918-c94d981fdbfa.vsidx
backend/Internshala.API/bin/Release/net8.0/Internshala.API.dll
backend/Internshala.API/bin/Release/net8.0/Internshala.Application.dll
backend/Internshala.API/bin/Release/net8.0/Internshala.Domain.dll
backend/Internshala.API/bin/Release/net8.0/Internshala.Infrastructure.dll
backend/Internshala.API/bin/Release/net8.0/Internshala.Shared.dll
backend/Internshala.API/obj/Debug/net8.0/rpswa.dswa.cache.json
backend/Internshala.API/obj/Debug/net8.0/staticwebassets.removed.txt
backend/Internshala.API/bin/Release/net8.0/Internshala.API.dll
backend/Internshala.API/bin/Release/net8.0/Internshala.Application.dll
backend/Internshala.API/bin/Release/net8.0/Internshala.Domain.dll
backend/Internshala.API/bin/Release/net8.0/Internshala.Infrastructure.dll
backend/Internshala.API/bin/Release/net8.0/Internshala.Shared.dll
