################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/.vs/Internshala/FileContentIndex/a049a4f7-fcf1-4ec3-badb-c1ce3d07f74d.vsidx
